#en-shopping-cart {
  @include theme(
    $name: "teal",
    $bg-color: "#027f8c",
    $bg-amount-color: "#027f8c",
    $border-selected-color: "#027f8c",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "peach",
    $bg-color: "#f26e50",
    $bg-amount-color: "#f26e50",
    $border-selected-color: "#f26e50",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "maroon",
    $bg-color: "#6d0333",
    $bg-amount-color: "#6d0333",
    $border-selected-color: "#6d0333",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "lightblue",
    $bg-color: "#e5ecef",
    $bg-amount-color: "#3678ba",
    $border-selected-color: "#3678ba",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "blue",
    $bg-color: "#3678ba",
    $bg-amount-color: "#3678ba",
    $border-selected-color: "#3678ba",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "white",
    $bg-color: "#ffffff",
    $bg-amount-color: "#606062",
    $border-selected-color: "#000000",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "magenta",
    $bg-color: "#f40655",
    $bg-amount-color: "#f40655",
    $border-selected-color: "#f40655",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "red",
    $bg-color: "#c72b50",
    $bg-amount-color: "#c72b50",
    $border-selected-color: "#c72b50",
    $white-text: true,
    $amount-white-text: false
  );
  @include theme(
    $name: "green",
    $bg-color: "#00a859",
    $bg-amount-color: "#00a859",
    $border-selected-color: "#00a859",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "yellow",
    $bg-color: "#fff0ca",
    $bg-amount-color: "#db7d03",
    $border-selected-color: "#db7d03",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "orange",
    $bg-color: "#db7d03",
    $bg-amount-color: "#db7d03",
    $border-selected-color: "#db7d03",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "purple",
    $bg-color: "#8c2d8c",
    $bg-amount-color: "#8c2d8c",
    $border-selected-color: "#8c2d8c",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "pink",
    $bg-color: "#f2cfdc",
    $bg-amount-color: "#c72b50",
    $border-selected-color: "#f2cfdc",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "lightgray",
    $bg-color: "#f5f5f5",
    $bg-amount-color: "#f5f5f5",
    $border-selected-color: "#f5f5f5",
    $white-text: false,
    $amount-white-text: false
  );
  @include theme(
    $name: "gray",
    $bg-color: "#dedede",
    $bg-amount-color: "#dedede",
    $border-selected-color: "#dedede",
    $white-text: false,
    $amount-white-text: false
  );
  @include theme(
    $name: "darkgray",
    $bg-color: "#606062",
    $bg-amount-color: "#606062",
    $border-selected-color: "#606062",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "black",
    $bg-color: "#000000",
    $bg-amount-color: "#000000",
    $border-selected-color: "#000000",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "transparent",
    $bg-color: "transparent",
    $bg-amount-color: "#606062",
    $border-selected-color: "#606062",
    $white-text: false,
    $amount-white-text: true
  );

  .en__component:not(.en__component--formblock) {
    &.bg-gradient {
      background-image: linear-gradient(to bottom, #3678ba, #00a859);
    }
  }
  .sc-cards,
  .sc-info {
    .bg-gradient {
      @include white-text;
      &::before {
        background-image: linear-gradient(to bottom, #00a859, #3678ba);
      }
      &[data-selected="true"] {
        border: 2px solid #00a859;
      }
    }
  }
  .sc-info {
    .en__component {
      &::before {
        background-color: transparent !important;
      }
    }
  }
}
