#en-shopping-cart {
  @include theme(
    $name: "bg-lightblue",
    $bg-color: "#e5ecef",
    $bg-amount-color: "#3678ba",
    $border-selected-color: "#3678ba",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-blue",
    $bg-color: "#3678ba",
    $bg-amount-color: "#3678ba",
    $border-selected-color: "#3678ba",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-white",
    $bg-color: "#ffffff",
    $bg-amount-color: "#606062",
    $border-selected-color: "#000000",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-magenta",
    $bg-color: "#b001b0",
    $bg-amount-color: "#b001b0",
    $border-selected-color: "#b001b0",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-red",
    $bg-color: "#c72b50",
    $bg-amount-color: "#e6a6be",
    $border-selected-color: "#c72b50",
    $white-text: true,
    $amount-white-text: false
  );
  @include theme(
    $name: "bg-green",
    $bg-color: "#00a859",
    $bg-amount-color: "#00a859",
    $border-selected-color: "#00a859",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-yellow",
    $bg-color: "#fff0ca",
    $bg-amount-color: "#db7d03",
    $border-selected-color: "#db7d03",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-orange",
    $bg-color: "#db7d03",
    $bg-amount-color: "#db7d03",
    $border-selected-color: "#db7d03",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-purple",
    $bg-color: "#8c2d8c",
    $bg-amount-color: "#8c2d8c",
    $border-selected-color: "#8c2d8c",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-pink",
    $bg-color: "#f2cfdc",
    $bg-amount-color: "#c72b50",
    $border-selected-color: "#f2cfdc",
    $white-text: false,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-lightgray",
    $bg-color: "#f5f5f5",
    $bg-amount-color: "#f5f5f5",
    $border-selected-color: "#f5f5f5",
    $white-text: false,
    $amount-white-text: false
  );
  @include theme(
    $name: "bg-gray",
    $bg-color: "#dedede",
    $bg-amount-color: "#dedede",
    $border-selected-color: "#dedede",
    $white-text: false,
    $amount-white-text: false
  );
  @include theme(
    $name: "bg-darkgray",
    $bg-color: "#606062",
    $bg-amount-color: "#606062",
    $border-selected-color: "#606062",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-black",
    $bg-color: "#000000",
    $bg-amount-color: "#000000",
    $border-selected-color: "#000000",
    $white-text: true,
    $amount-white-text: true
  );
  @include theme(
    $name: "bg-transparent",
    $bg-color: "transparent",
    $bg-amount-color: "#606062",
    $border-selected-color: "#606062",
    $white-text: false,
    $amount-white-text: true
  );

  .en__component:not(.en__component--formblock) {
    &.bg-gradient {
      background-image: linear-gradient(to bottom, #3678ba, #00a859);
    }
  }
  .sc-cards,
  .sc-info {
    .bg-gradient {
      @include white-text;
      &::before {
        background-image: linear-gradient(to bottom, #00a859, #3678ba);
      }
      &[data-selected="true"] {
        border: 2px solid #00a859;
      }
    }
  }
  .sc-info {
    .en__component {
      &::before {
        background-color: transparent !important;
      }
    }
  }
}
