h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  margin: 20px auto;
  text-align: center;
  font-weight: 400;
  strong {
    font-weight: bold;
  }
}
h2,
h3 {
  text-align: center;
}
#currency-calculator .en__field--pseudo-currencyConverter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#currency-calculator .currencySelectLabel {
  margin: 0;
}
