@media (max-width: 1100px), (max-device-width: 1100px) {
  .sc-header {
    flex-wrap: wrap;
    justify-content: center;
    .en__component--copyblock {
      width: 90%;
      margin: 30px auto;
    }
    .en__component--imageblock {
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
      align-self: center;
      max-width: 100%;
      width: 100%;
      img {
        width: 100% !important;
        margin: auto;
        object-position: center !important;
      }
    }
    .en__component--imageblock:first-of-type {
      order: 1;
      margin-bottom: 1rem;
    }
    .en__component--copyblock {
      order: 3;
    }
    .en__component--imageblock:last-of-type {
      order: 2;
    }
  }
}
@media (max-width: 650px), (max-device-width: 650px) {
  .sc-info {
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0;
  }
  .sc-cards {
    [data-card] {
      &::before {
        content: none;
      }
      p:first-child:not(.sc-card-image-flip),
      .sc-cards-amount {
        display: none;
      }
      &.mobile-image,
      &[data-flip] {
        &::before {
          content: "";
          border: 2px solid #fff;
        }
        p:first-child {
          max-height: 200px;
          display: block;
        }
        img {
          max-height: 150px;
          object-position: cover;
          display: block;
        }
        .sc-cards-amount {
          display: flex;
        }
      }
    }
    .en__component--copyblock.block-other {
      h1,
      h2,
      h3 {
        margin-top: 33px;
        margin-bottom: 53px;
      }
    }
  }
  .sc-frequency {
    .frequency-buttons {
      gap: 5px;
      max-width: 100%;
      .monthly,
      .onetime {
        max-width: 100%;
        .monthly-icon {
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }
    .monthly-message {
      max-width: 100%;
      display: flex;
      &::before {
        position: relative;
        inset: 0;
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
