@media (max-width: 1100px), (max-device-width: 1100px) {
  .sc-header {
    flex-wrap: wrap;
    justify-content: center;
    .en__component--copyblock {
      width: 90%;
      margin: 30px auto;
    }
    .en__component--imageblock {
      margin-right: 0;
      margin-left: 0;
      margin-top: 0;
      align-self: center;
      max-width: 100%;
      width: 100%;
      img {
        width: 100% !important;
        margin: auto;
        object-position: center !important;
      }
    }
    .en__component--imageblock:first-of-type {
      order: 1;
    }
    .en__component--copyblock {
      order: 3;
    }
    .en__component--imageblock:last-of-type {
      order: 2;
    }
  }
}
@media (max-width: 600px), (max-device-width: 600px) {
  .sc-info {
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0;
  }
  .sc-cards {
    [data-card] {
      &::before {
        content: none;
      }
      img,
      .sc-cards-amount {
        display: none;
      }
      &.mobile-image {
        &::before {
          content: "";
          border: 2px solid #fff;
        }
        img {
          max-height: 150px;
          object-position: cover;
          display: block;
        }
        .sc-cards-amount {
          display: flex;
        }
      }
    }
    .en__component--copyblock.block-other {
      h1,
      h2,
      h3 {
        margin-top: 33px;
        margin-bottom: 53px;
      }
      .block-other-amount {
        top: 125px;
      }
    }
  }
}
