@import "mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800&display=swap");
body:not(#en__pagebuilder):not([data-debug]) {
  .hide {
    display: none;
  }
  #en-shopping-cart .sc-cards .en__component--copyblock {
    &:not([data-card]) {
      p:first-child {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #344857;
          z-index: 20;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f7f7fa;
          z-index: 19;
        }
      }
      h1 + p,
      h2 + p,
      h3 + p {
        margin-bottom: 28px;
      }
    }
  }
}
body[data-debug] {
  .hide {
    background-color: #ff00001a !important;
  }
}
#en-shopping-cart {
  .en__component--advrow {
    max-width: 100%;
  }
  @import "./header.scss";
  @import "./frequency.scss";
  @import "./cards.scss";
  @import "./info.scss";
  @import "./elements.scss";
  @import "./mobile.scss";
}

@import "./colors.scss";
@import "./page-builder.scss";
